/* body{
    background-color: beige;
} */
#navbar{
    flex-direction: column;
    width: 960px;
    

}
#navbar ul li a{
    font-size: 2rem;
    padding: 0px 7px;
    padding-bottom: 1px;
    
}
#home{
    height:620px ;
    width: 960px;
    padding: 2px 5px;
    /* flex-direction: column; */
}
#home::before{
    
    width: 960px;
    height:930px ;
    /* flex-direction: column; */
}
#home h1{
    font-size: 38px;
    padding: 5px 40px;
    margin: 5px 30px;
    
    
}
#home p{
    font-size: 17px;
    padding: 2px 50px;
    margin: 5px 30px;
    text-align: center;
}
.h-primary{
    font-size: 26px;
}
.creation-container{
    width: 960px;
}
#creations{
    margin: 10px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 10px;
} 
#creations .box img:hover{
    
    /* border-radius: 6px; */
    height: 500px; 
}
#creations p{
    grid-column: 1/span 2;
}
.box{
    display: flex;
    flex-direction: column;
}
#contact{
    width: 960px;
    height: 800px;

}
#contact-box form{
    width: 52%;
}
footer{
    width: 920px;
    padding: 10px 20px;
}
/* .checkbtn{
    font-size: 30px;
    color: rgb(31, 41, 50);
    float:right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
} */